<div class='container-fluid'>
<h1 align='center'>Eat-Da-Burger!</h1>
<div class='row'>
    
       <img src="assets/img/burger_vector_266368.jpg" class="img-responsive center-block" id="burgerPic">
</div>

<div class='row'>
    <div class='col-sm-1 col-md-1'></div>
    <div class='col-sm-5 col-md-5'>
        <div class='panel'>
         <div class="panel-header">   
        Burgers Ready to be Devoured
        </div>
       <div class='panel-body'>
        <ul class="list-group">
            {{#each burgers}}
                 {{#unless this.devoured}}
                    <li class="list-group-item">
                    <div class='input-group'>
                     <p class="lead">{{this.burger_name}}</p>
                     <div class="input-group-addon" id="devouredAddOn">
                        <form class="form-inline" id="devouredForm" action="/{{this.id}}?_method=PUT" method="POST">
                       <div class="form-group">
                        <input type="hidden" name="devoured" value="true">
                        <input type="text" id="customer_name" name="customer_name" placeholder="Customer?">&nbsp
                        <button class="btn btn-default btn-md" type="submit" style="background: green; color: white">Devour Me!</button>
                       </div>
                       </form>
                     </div>
                    
                    </div>
                    </li>
                {{/unless}}
            {{/each}}
        </ul>
        </div>
    </div>
    </div>
    <div class='col-sm-5 col-md-5'>
         <div class='panel'>
         <div class="panel-header">   
        Devoured Burgers
        </div>
       <div class='panel-body'>
        <ul class="list-group">
            {{#each burgers}}
                 {{#if this.devoured}}
                    <li class="list-group-item">
                    <div class='input-group'>
                     <p class="lead">{{this.burger_name}} &nbsp <span id="devouredBy">Eaten By&#58 {{this.customer.customer_name}}</span></p>
                    </div>
                    </li>
                {{/if}}
            {{/each}}
        </ul>
        </div>
    </div>
    </div>
</div>  

<div class='row'>
    <div class='col-sm-1 col-md-3'></div>
    <div class="col-sm-3 col-md-6">
        <div class='panel'>
        <div class='panel-header add-panel'>    
            Enter a burger you want to eat and click the "Add Burger" button.
        </div>
        <div class="panel-body">
        <form class="create-update-form" action="/" method="POST">

        <div class="form-group">
            <label for="newBurger" id="newBurgerLabel">Burger Name:</label>
            <input type="text" id="newBurger" name="name">
        </div>
         <button class="btn btn-default btn-md" type="submit" style="background: green; color: white" id="btnAddBurger">Add Burger</button>
        </form>
    </div> 
    </div>
</div> 
</div>