#burgerPic {
    height: 200px;
    width: 300px;
    /*display: block;
    margin: auto;
    text-align: center;*/
}

body {
    background: orange;
    color: red;
}


.panel {
    width: 100%;
   
    margin-top: 20px;
    font-size: 14px;
}
.panel-header {
    text-align: center;
    font-size: 20px;
   padding-top: 10px;
   color: blue;
   text-decoration: underline;
}
.panel-body {
    font-size: 15px;
}

#newBurger {
    width: 100%;
    height: 30px;
    font-size: 15px;
}

#newBurgerLabel {
    font-size: 18px;
}

#btnAddBurger {
    display: block;
    margin: auto;
}

.add-panel {
    text-decoration: none;
}

#customer_name {
    width: 100px;
    height: 30px;
}

#devouredBy {
    font-size: 14px;
}

#devouredForm, #devouredSpan {
    border: none;
    background: none;

}

.input-group-addon, #devouredAddon {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}